body{
    margin: 30px;
}
#resultUl{
    max-width: 1000px;
}

.headerButtons{
    display: flex;
    flex-direction: row;
}

#result{
    max-width: 900px;
    margin: 0 auto;
}

.badge-0{
display: none;
}

.pill-1{

}